.root {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	max-height: 100%;
}

.placeholder {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	filter: blur(10px);
}

.header {
	display: flex;
	background: #3d4457;
	padding: 0 var(--space-300);
}

.header * {
	color: #fff;
}

.header nav {
	align-self: center;
}

.header h2 {
	flex: 1;
}

.header ul {
	list-style: none;
	margin: 0;
}

.header li {
	display: inline-block;
}

.header li:not(:last-child) {
	margin-right: var(--space-300);
}

.app {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex: 1;
	overflow: hidden;
}

.mapContainer {
	transition: opacity 0.4s ease-in-out;
	height: 100%;
}

.mapWrapper {
	position: relative;
	overflow: hidden;
	background-color: #eff0f0;
}

.contentWrapper {
	width: 420px;
	overflow: auto;
	box-shadow: 0 0 10px rgb(44 44 44 / 10%);
	z-index: 1;
	position: relative;
}

.mapWrapper {
	flex: 1;
}

.active {
	font-weight: 900;
}

.content {
	max-width: 800px;
	padding: var(--space-300);
	margin-left: auto;
	margin-right: auto;
	overflow-y: auto;
}

.map {
	flex: 1;
}

@media screen and (max-width: 800px) {
	.app {
		width: 100%;
		display: flex;
		flex-direction: column;
	}

	.map-wrapper {
		height: 25vh;
	}

	.header {
		flex-direction: column;
	}

	.content {
		padding-top: var(--space-200);
	}

	.content h3 {
		margin: var(--space-400) 0 var(--space-300);
	}

	.header nav {
		align-self: inherit;
		border-top: 1px solid rgb(255 255 255 / 0.1);
		padding: var(--space-400) var(--space-300);
		margin-left: calc(-1 * var(--space-300));
		margin-right: calc(-1 * var(--space-300));
	}

	.mapWrapper {
		order: -1;
		height: 25vh;
		flex-shrink: 0;
		flex: none;
	}

	.mapContainer {
		height: 25vh;
	}

	.contentWrapper {
		width: auto;
		box-shadow: none;
	}

	.content p {
		font-size: var(--size-500);
	}

	.app {
		overflow: unset;
	}
}
