.header {
	background-color: var(--gray-300);
	width: 100%;
	text-align: center;
	padding: var(--space-400);
}

.title {
	display: block;
	font-size: var(--size-900);
	font-weight: var(--weight-black);
	margin-bottom: var(--space-200);
}

.active {
	font-weight: var(--weight-medium);
}
